.heading {
    font-family: 'Brush Script MT', cursive;
    font-size: 80px;
}
.all {
    text-align: center;
}
.list {
    font-weight: bolder;
    font-size: large;
}
.page {
    background-color: bisque;
}
.sub {
    font-size: 60px;
}
.img {
    height: 500px;
    width: auto;
    margin: auto;
    display: block;      
}
.home {
    font-size: 23px;
    text-align: center;
    display:block
}